<section>
  <div class="container mt-4">
    <div class="add-product-top">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-center add-product-headding">Add Catagory</h2>
          <form action="/admin/catagory-add" method="post" id="form">
            <label for="">Add Catagory</label>
            <input type="text" id="category" name="Catagory" class="form-control" placeholder="Enter the catagory Name" />
            <span id="err" style="color:crimson ;"></span>
            <button type="submit" class="btn-success mt-4 product-add-submit">Submit</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  let form=document.getElementById('form')
  let category=document.getElementById('category')
  let err=document.getElementById("err")
  let errMsg=[]
  form.addEventListener('submit',(e)=>{
    if(category.value==null||category.value==""){
      errMsg.push('Please enter Category')
    }
    if(errMsg.length>0){
      e.preventDefault()
      err.innerHTML=errMsg.join('')
    }
  })
</script>