<div class="container-fluid">
  <div class="row">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="author" content="Yinka Enoch Adedokun" />
      <title>Registe Page</title>
    </head>
    <body>
      <!-- Main Content -->
      <div class="container-fluid">
        <div class="row main-content bg-success text-center">
          <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span
                  class="fa fa-shopping-bag fa-3x"
                ></span></h2></span>
            <h6 class="company_title">SHOPSY</h6>
          </div>
          <div class="col-md-8 col-xs-12 col-sm-12 login_form">
            <div class="container-fluid">
              <div class="row">
                <h2>Change Password</h2>
              </div>

              <div class="row">
                        {{#if passErr}}
                        <h5 style="color: crimson;">{{passErr}}</h5>
                        {{/if}}

                <form
                  control=""
                  class="form-group"
                  action="/edit-password"
                  method="post"
                  id="Form"
                >

                  

                  <div class="row">
                    <input
                      type="password"
                      name="oldPassword"
                      id="oldPassword"
                      class="form__input"
                      placeholder="Enter Your Old Password"
                    />
                    <span id="errOld" style="color: crimson;"></span>
                  </div>
                  <div class="row">

                    <input
                      type="password"
                      name="newPassword"
                      id="newPassword"
                      class="form__input"
                      placeholder="Enter New Password"
                    />
                    <span id="errNew" style="color: crimson;"></span>
                  </div>
                   <div class="row">
                    <input
                      type="password"
                      name="newPassword1"
                      id="newPassword1"
                      class="form__input"
                      placeholder="Re-enter Your New Password"
                    />
                    <span id="errNew1" style="color: crimson;"></span>
                  </div>
                 
                  <div class="row">

                    <button type="submit" class="btn">Submit</button>
                    
                  </div>
                 
                </form>
              </div>
             
            </div>
          </div>

          {{! validation }}
          <script>

            
             const oldpassword=document.getElementById("oldPassword");
             const newpassword=document.getElementById("newPassword");
             const newpassword1=document.getElementById("newPassword1");
              const form=document.getElementById("Form");
              
                const errold=document.getElementById("errOld")
                const errnew=document.getElementById("errNew")
                const errnew1=document.getElementById("errNew1")

            form.addEventListener('submit',(e)=>{ 
              
            
            let message1=[] 
            let message2=[] 
            let message3=[] 
           

           

            if(oldpassword.value===''||oldpassword.value==null){
               message1.push('Please enter your currrent password') 
               } 


            if(newpassword.value===''||newpassword.value==null){
               message2.push('Please enter your currrent password') 
               } else if(newpassword.value.length<4){
             message2.push('password must be atleast 4 character') }


            if(newpassword.value!=newpassword1.value){
               message3.push('Re-entered Password not match') 
               } 


                    


            if(message1.length>0){
            e.preventDefault();
            errold.innerText=message1.join(' ') 
            } 
            })

            if(message2.length>0){
            e.preventDefault();
            errnew.innerText=message2.join(' ') 
            } 
            })

            if(message3.length>0){
            e.preventDefault();
           errnew1.innerText=message3.join(' ') 
            } 
            })

          </script>
          {{! validation }}
        </div>
      </div>
      <!-- Footer -->

    </body>
  </div>
</div>