<section>
          <div style="height: 300px; background-color:rgb(243, 244, 245)!important" class="summarya">

          <div class="row">
                    <div class="container">
                              <h1 class="text-center " style="margin-top:20px; ">Order Placed Successfully</h1><br>
                              <h4 class="text-center"><i style="color: green;" class="fa fa-check-square-o fa-4x" aria-hidden="true"></i></h4>
                              {{!-- <a href="/" class="btn " style="width: 209px; margin-left:250px; margin-top:50px;">Back to Shopping</a> --}}
                              <a href="/orders" class="btn " style="width: 209px; margin-left:458px; margin-top:4px;">View Orders</a>
                    </div>
          </div>
          </div>
</section>